# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.survival-shooter.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\chris\Documents\GitHub\survival-shooter\.idea\.idea.survival-shooter.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
